In [0]:
print("Hello World")

Hello World

In [0]:
print('Hello world')

Hello world

In [0]:
print("Hello 'World'")

Hello 'World'

In [0]:
print('Hello "World"')

Hello "World"

In [0]:
print("Hello \"World")

Hello "World

In [0]:
print('Hello \'World')

Hello 'World

In [0]:
print("Shahed \nTalukder")

Shahed
Talukder

In [0]:
print("This is backslash\\")

This is backslash\

In [0]:
# print("Hello")
print("Shahed \\ Talukder")

Shahed \ Talukder

In [0]:
# For example
print("Line A \n Line B")
# hard way to print \n or other escape sequence
print("Line A \\n Line B")
print("\\\" \\'")

Line A
 Line B
Line A \n Line B
\" \'

In [0]:
# Remember that
# \' gives '
#\\ gives \
# and for this
print("\\\" \\'")

\" \'

In [0]:
# Exercise
print("this is \\\\ double backslash")
print("This is /\\/\\/\\/\\/\\ mountains")
print("he is \tawesome")
print("\\\" \\n \\t \\\'")

this is \\ double backslash
This is /\/\/\/\/\ mountains
he is 	awesome
\" \n \t \'

In [0]:
#shortcut way to print \
print(r"Hello \n World")

Hello \n World

In [0]:
#Exercise solve with shortcut way
print(r"this is \\ double backslash")
print(r"this are /\/\/\/\/\/\ mountains")
print("he is \tawesome")
print(r"\" \n \t \'")

this is \\ double backslash
this are /\/\/\/\/\/\ mountains
he is 	awesome
\" \n \t \'

In [0]:
#Emoji printing
#print("U+1F602") previous form
print("\U0001F602\U0001F602\U0001F602\U0001F602") #next form

ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚

In [0]:
n = 13
m = 5
print(n + m)
print(n - m)
print(n * m)
print(n / m)
print(n // m)
print(n ** m)

18
8
65
2.6
2
371293

In [0]:
#round function
print(round(2**0.5, 4)) #with round function
print(2**0.5) #without round function

1.4142
1.4142135623730951

In [0]:
#precedence rule example
print(2**3/2*6-4*(3-4/2))
#() --> highest priority
#** --> right to left
#*, /, //, % --> left to right priority
# + , - --> left to right priority

20.0

In [0]:
#reminder
print(3%2) #--> it gives divided reminder

1

In [0]:
#exponents left to right priority
print(2**3**2)
print(3**2)
print(2**9)

512
9
512

In [0]:
#variables in python(type of variables)
# rules of declaring variable
#can't be start with number
#can be start with _ or letter(capital letter or small letter)
#can't be start with any kind of symbol without(_)
#can use number after letter
n1 = 2
print(n1)
print(type(n1))
n2 = 2
n1 = n2 + n1
print(n1)
print(type(n1))
n3 = "Shahed"
n4 = 4.50
print(type(n3))
print(type(n4))
n5 = type(n4)
print(n5)

2
<class 'int'>
4
<class 'int'>
<class 'str'>
<class 'float'>
<class 'float'>

In [0]:
#convantion of declaring variable
my_name = "Shahed" #snake case writing
myName = "Shahed Talukder" #camel case writing
print(my_name,"\n",myName)

Shahed
 Shahed Talukder

In [0]:
#string concatation
f_name = "Shahed"
lName = "Talukder"
full_name = f_name + lName
print(full_name)
full_name = f_name +' '+lName
print(full_name)
#can't do that print(full_name + 3)
print(full_name + "3")
print(full_name + str(3))
print(full_name * 3)
print(full_name+"\n"*3)
#question print(full_name * 3) is printing full_name value for 3 times
#print(full_name+"\n" * 3) is not printing full_name for three times(only one time)

ShahedTalukder
Shahed Talukder
Shahed Talukder3
Shahed Talukder3
Shahed TalukderShahed TalukderShahed Talukder
Shahed Talukder

In [0]:
#getting user input
# input() function always take input as integer like
name = input("Enter your name")
print(type(name))
print("Hello :"+name)
#we can add two string with (+)
f_name = input("Enter your first name:")
l_name = input("Enter your last name:")
full_name = f_name+' '+l_name
print("Hello,how are you?,"+full_name)

Enter your nameshahed
<class 'str'>
Hello :shahed
Enter your first name:shahed
Enter your last name:talukder
Hello,how are you?,shahed talukder

In [0]:
#as we see that input() funtion use to take input as string
#how can we get input as integer
#let's see an example
n1 = input("Enter an integer number:")
n2 = input("Enter another integer number:")
n3 = n1 + n2
print(n3) #this is only add two string
# to convert it into integer let's use int() funtion
n1 = int(n1)
n2 = int(n2)
n3 = n1 + n2
print(n3) #this is print the sum of two number
#print("Summation:"+n3) this is give error
print("Summation:"+str(n3)) #this will give the right answer
#we can do another thing
print("Summation:",n3)

Enter an integer number:23
Enter another integer number:12
2312
35
Summation:35
Summation: 35

In [0]:
#type casting(int, float)
n = int(input("Enter an integer number: "))
m = float(input("Enter a float number: "))
ans = n + m
print("Answer:",ans)

Enter an integer number: 3
Enter a float number: 5.4
Answer: 8.4

In [0]:
#now let's talk more about variables
#taking more value in one line
name, age = "Shahed",24
print("Name",name,"\n","Age",age)
name,age,address = input("Enter your name:"),int(input("Enter your age:")),input("Enter your address:")
#this will take input in new line
print("Your name is:",name)
print("Your age is:",age)
print("Your address is:",address)
#same input taking using split() funtion
name,age,address = input("Enter your name,age and address:").split()
#this will take input in the same line.so use space after taking one input
print("Name:",name,"\n","Age",age,"\n","Address",address)
#assining many variables in a line
a = b = c = d = 24
print(a,b,c,d)

Name Shahed
 Age 24
Enter your name:shahed
Enter your age:34
Enter your address:khagan
Your name is: shahed
Your age is: 34
Your address is: khagan
Enter your name,age and address:shahed 34 khagan
Name: shahed
 Age 34
 Address khagan
24 24 24 24

In [0]:
#string formatting
# {} --> place holder
name = "Shahed"
age = 21
print("Hello "+name+" your age is "+str(age))
print("Hello {} your age is {}".format(name,age)) #python 3
print(f"Hello {name} your age is {age}") #python 3.6

Hello Shahed your age is 21
Hello Shahed your age is 21
Hello Shahed your age is 21

In [0]:
#more details about string formating
name = "Shahed"
print("My name is: {} and my age is: {}".format(name, "Twenty One")) #--> as string
print("My name is: {} and my age is: {}".format(name, 21)) #--> as integer
bangla = 75
math = 90
english = 85
print("Bangla: {2}\n English: {1}\nMath: {0}\n".format(math,english,bangla))

My name is: Shahed and my age is: Twenty One
My name is: Shahed and my age is: 21
Bangla: 75
 English: 85
Math: 90

In [0]:
#type convertion string formating
n1 = 36
n2 = 24
print("Number one: {0:f}\nNumber two: {1:f}".format(n1,n2)) #--> for full decimal digits
print("Number one: {0:.2f}\nNumber two: {1:.3f}".format(n1,n2)) #-->for selected decimal digits
#double type
print("Result: {}".format(100/3))
#float type
print("Result: {0:.2f}".format(100/3))

Number one: 36.000000
Number two: 24.000000
Number one: 36.00
Number two: 24.000
Result: 33.333333333333336
Result: 33.33

In [3]:
#Spacing in string formating
#Note. spacing starts after 3
print("My age is: {0:4d}".format(21)) #--> for two space
print("My age is: {0:2d}".format(21)) #-->for zero space
#left chevron and right chevron in string
print("My name is: {0:>4} and my id is: {1:<4}".format("Shahed","173-25-258"))
#caret symbol(^) using
#must use caret symbol > the string length
print("{0:*^9s}".format("Shahed"))
print("{0:*^7s}".format("Shahed"))

My age is:   21
My age is: 21
My name is: Shahed and my id is: 173-25-258
*Shahed**
Shahed*

In [0]:
#formatting inside loop
for i in range(1,10):
    print("{} {} {}".format(i, i**2, i**3))

1 1 1
2 4 8
3 9 27
4 16 64
5 25 125
6 36 216
7 49 343
8 64 512
9 81 729

In [0]:
#exercise
x,y,z = input().split()
x = int(x)
y = int(y)
z = int(z)
avg = (x + y + z) / 3
print("Average: {}".format(avg))
#from video 1
x = input()
y = input()
z = input()
print(f"Average: {(int(z) + int(y) + int(x))/3}")
#from video 2
x,y,z = input().split()
print(f"Average: {(int(z) + int(y) + int(x))/3}")

12 23 34
Average: 23.0
12
23
34
Average: 23.0
12 23 45
Average: 26.666666666666668

In [0]:
#string indexing
name = "Shahed"
#here
#S > 0 , -6
#h > 1 , -5
#a > 2 , -4
#h > 3 , -3
#e > 4 , -2
#d > 5 , -1
#to print last index item use -1
print(name[3])
print(name[-1])

h
d

In [0]:
#string slicing
#syntax - [start argument : stop argument]
name = "Shahed"
print(name[2:6])
print(name[-3:5])
print(name[:])
print(name[1:])
print(name[:3])

ahed
he
Shahed
hahed
Sha

In [0]:
#step argument
name = "Shahed"
# syntax - [start argument : stop srgument : step argument]
print(name[::-1])
print(name[-1::-1])
print(name[6:2:-1])

dehahS
dehahS
deh

In [0]:
#exercise
n = input()
print("Your string is reverse: {}".format(n[::-1]))
print(f"Your string in reverse: {n[::-1]}")

shahed
Your string is reverse: dehahs
Your string in reverse: dehahs

In [0]:
#methods in python
# len() -- count length of any string or list
print(len("Shahed")) #without storing data in a variable
lenght = len("Shahed Talukder")
print(lenght)
# lower() -- make string in lower case
name = input()
name = name.lower()
print(name)
# upper() -- make string in upper case
name = input()
name = name.upper()
print(name)
# title() -- make string in title case(first item in upper case and other in lower case)
name = input()
name = name.title()
print(name)
# count() -- to count similer type caracter
string = input("Enter a full string")
char = input("Enter a character to count")
c_char = string.count(char)
print(c_char)

6
15
shahed
shahed
shhaed
SHHAED
shhaed
Shhaed
Enter a full stringshahed talukder
Enter a character to counth
2

In [0]:
#exercise
# user_name = input("Enter your name:")
# u_char = input("Enter a character:")
user_name, u_char = input("Enter your string and char").split(",")
print(f"character count: {user_name.lower().count(u_char.lower())}")
user_name = user_name.lower()
u_char = u_char.lower()
u_count = user_name.count(u_char)
# for i in range(len(user_name)):
#     if u_char == u_char.lower() or u_char == u_char.upper():
#         u_count = user_name.count(u_char)
#         u_count += 1
print(f"Length of your string is: {len(user_name)}")
print(f"character count: {u_count}")

Enter your string and charshahed talukder,h
character count: 2
Length of your string is: 15
character count: 2

In [0]:
#strip methos
#lstrip() - remove left side spaces
#rstrip() - remove right side spaces
#strip() - remove all spaces
name = "       Shahed           "
dots = "........."
print(name+dots)
print(name.lstrip()+dots)
print(name.rstrip()+dots)
print(name.strip()+dots)
# replace method
print(name.replace(" ","")+dots)

       Shahed           .........
Shahed           .........
       Shahed.........
Shahed.........
Shahed.........

In [0]:
#taking input using strip or replace method
user_name,u_char = input().split(",")
print(f"Length of the string: {len(user_name.strip())}")
print(f"Character count: {user_name.lower().count(u_char.strip().lower())}")

shahed,h
Length of the string: 6
Character count: 2

In [0]:
#printing string in reverse order
name = input() #taking input
print(f"Reverse of your name is:{name[::-1]}")

shahed
Reverse of your name is:dehahs

In [0]:
#using of replace() method
s1 = "Shahed Talukder Is now in a vacation"
s2 = s1.replace(" ","_")
print(f"Using of replace() method: {s2}")
#we can change a string with that replace method also like that
s3 = s1.replace("Is","was")
print("Replacing: {}".format(s3))
#if we have same kind of string in some where in string then we can change it by numbering
s1 = "Shahed is on a sports team. And he is going to do something"
s2 = s1.replace("is","was",1)
print(f"Replacing: {s2}")
#if we want to change another (is) then we have to do that
s2 = s1.replace("is","was",2)
print("Replacing: {0}".format(s2))

Using of replace() method: Shahed_Talukder_Is_now_in_a_vacation
Replacing: Shahed Talukder was now in a vacation
Replacing: Shahed was on a sports team. And he is going to do something
Replacing: Shahed was on a sports team. And he was going to do something

In [0]:
#using of find() method
s1 = "Shahed is on a sports team. And he is going to do something"
s2 = s1.find("is")
print(f"Findin string: {s2}")
#after defining position of (is)
s2 = s1.find("is", 8) #this will start finding after position 8..where first (is) is in position 7
print("Finding string: {}".format(s2))

Findin string: 7
Finding string: 35

In [0]:
#example of find() method
s1 = "Shahed is on a sports team. And he is going to do something"
s2  = s1.find("is")
print("Finding string: {}".format(s2))
print("Finding string: {}".format(s1.find("is",s2+1)))

Finding string: 7
Finding string: 35

In [0]:
#using of center() method
#center usually prints a character (left or right) in a string
#example
name = "Shahed"
l = len(name)
new_name = name.center(l+2,"*")
print(new_name)

*Shahed*

In [0]:
#another example of center() method
name = input()
l = len(name)
new_name = name.center(l+8,"*")
print(new_name)

shahed
****shahed****

In [0]:
#why we called strings as immutable(mutation is not possible)
string = input()
for i in range(len(string)):
    print(string[i])
# string[1] = "D" this is not possible
# s1 = string.replace("s","D") this is also not working
#so we can not change or muted any character of any string
print(string)

shahed
s
h
a
h
e
d
shahed

In [0]:
#operator in python
name = "sha"
name = name + "hed"
print(name) #we cam add two string..but can't add two different type of data typed varibles value like
age = 21
# print(name + age) #this will show error
#but we can add int type and float type data like
age2 = 22
print(age + age2)
# we can also operators like that way
age += age2
print(age) #this will like same as before like
age -= 2
print(age)
age *= 2
print(age)

shahed
43
43
41
82

In [0]:
#if statement
#syntax of if statement
#if <condition>:
    #statement
#example
if int(input("Enter your age: ")) >= 14:
    print("You are above 14")
# or
age = int(input("Enter another age: "))
if age >= 18:
    print(f"You are above {14}.")

Enter your age: 21
You are above 14
Enter another age: 23
You are above 14.

In [0]:
#pass statement
#this use to pass the condition in if or else statement
#example
age = int(input("Enter your age: "))
if age == 18:
    pass
elif age > 18:
    print("You are above 18")
else:
    print("You are under 18")

Enter your age: 14
You are under 18

In [0]:
#using random number
import random
print(random.randint(1,10))
# syntax of random package using
#random.randint(starting point,endpoint)

9

In [0]:
#exercise with nested if else
import random
winner_number = random.randint(10,20)
guess_number = int(input("Enter the number you have guessed: "))
if guess_number == winner_number:
    print("YOU WIN!!!")
else:
    if guess_number < winner_number:
        print("too low!!")
    else:
        print("too high!!")

Enter the number you have guessed: 11
too low!!

In [0]:
#and, or operator in python
user_name = "shahed"
pass_word = "32100505"
if (input("Enter your user name:") == user_name) and (input("Enter your password:") == pass_word):
    print("You are now logged in!!!")
else:
    print("Your input is wrong!!!")
#that was for (and) operator
#now let's see (or) operator
if (input("Enter your user name:") == user_name or (input("Enter your password:") == pass_word)):
    print("Your are now logged in!!!")
else:
    print("Your input is wrong!!!")

Enter your user name:shahed
Enter your password:32100505
You are now logged in!!!
Enter your user name:shahed
Your are now logged in!!!

In [0]:
#exercise of (and,or) operator
user_name = input("Enter your user name:")
user_age = int(input("Enter your age:"))
if (user_name[0] == 'A' or user_name[0] == 'a') and user_age >= 10:
    print("You can watch coco movie!!")
else:
    print("Sorry, you can't watch coco movie!!")

Enter your user name:shahed
Enter your age:21
Sorry, you can't watch coco movie!!

In [0]:
age = int(input("Enter your age:"))
if age >= 1 and age <=3:
    print("Your ticket price is tottaly free!!")
elif age >= 4 and age <= 10:
    print("Your ticket price is 150 tk only!!")
elif age >= 11 and age <= 60:
    print("Your ticket price is 250 tk only!!")
elif age > 60:
    print("Your ticket price is 200 tk only!!")
else:
    pass

Enter your age:23
Your ticket price is 250 tk only!!

In [0]:
#in keyword working with in
#in keyword search for a character in string like
user_name = "Shahed Talukder"
char = input()
if char in user_name:
    print("{} is in {}".format(char,user_name))

h
h is in Shahed Talukder

In [0]:
#check empty or not(important)
name = input("Enter you name here:")
if name: #True if string is not empty
    print("Your name is: {}".format(name))
else:
    print("You did't enter your name yet!!!")

Enter you name here:shahed
Your name is: shahed

In [0]:
#while loop in python
i = 0 #initialization
while i < 10: #condition
    print("Hello world!!") 
    i += 1 #statement

Hello world!!
Hello world!!
Hello world!!
Hello world!!
Hello world!!
Hello world!!
Hello world!!
Hello world!!
Hello world!!
Hello world!!

In [0]:
#sum of ten numbers using while loop
total = 0
i = 0
while i < 3:
    num = int(input())
    total += num
    i += 1
print("Sum of {} numbers is: {}".format(i,total))

23
34
45
Sum of 3 numbers is: 102

In [0]:
#exercise 1:
total = 0
n = int(input("Enter a natural number: "))
i = 0
while i < n and n > -1:
    num = int(input("Enter an integer number:"))
    total += num
    i += 1
print(f"Sum of {i} numbers is: {total}")

Enter a natural number: 2
Enter an integer number:34
Enter an integer number:45
Sum of 2 numbers is: 79

In [0]:
#exercise 2:
n1 = input()
i = 0
sum_number = 0
while i < len(n1):
    n2 = n1[i]
    n2 = int(n2)
    sum_number += n2 
    i +=1
print("Sum of the digits: {}".format(sum_number))

1234
Sum of the digits: 10

In [0]:
#exercise 3
n = input()
sum_number = 0
for i in range(len(n)):
    sum_number = sum_number + int(n[i])
print("Summation is: {}".format(sum_number))

12345
Summation is: 15

In [0]:
string = input("Enter any string: ")
i = 0
temp = ""
while i < len(string):
    if string[i] not in temp:
        temp += string[i]
        print("{} : {}".format(string[i],string.count(string[i])))
    i += 1

Enter any string: shhaed
s : 1
h : 2
a : 1
e : 1
d : 1

In [0]:
#let's talk about infinite loop
#we do this by mistake
#while(1):
    #print("Hello World!!") example of infinite loop
# i = 0
# while i < 10:
#     print("Hello world!!")
#     i = i + 0
#this is also an example of infinite loop..
# we are not running this in my ide becase this will crash if i run this

In [0]:
#another infinite loop which will be made by use normally
# while True:
#     print("Hello world!!!")

In [0]:
#for loop in python
#syntax of for loop
for i in range(6):
    print("Hello world: {}".format(i))
for i in range(1,6):
    print("Shahed: {}".format(i))

Hello world: 0
Hello world: 1
Hello world: 2
Hello world: 3
Hello world: 4
Hello world: 5
Shahed: 1
Shahed: 2
Shahed: 3
Shahed: 4
Shahed: 5

In [0]:
#example of for loop
total = 0
for i in range(1,11):
    total+=i
    #print("{}".format(i))
print(f"Sum of all: {total}")

Sum of all: 55

In [0]:
#another example of for loop
total = 0
n = int(input("Enter an integer number: "))
for i in range(1,n+1):
    total += i
print(f"Sum of all: {total}")

Enter an integer number: 2
Sum of all: 3

In [0]:
total = 0
n = input()
for i in range(len(n)):
    total += int(n[i])
print("Total of that string: {}".format(total))

1234
Total of that string: 10

In [0]:
string = input("Enter your name: ")
i = 0
temp = ""
for i in range(len(string)):
    if string[i] not in temp:
        temp += string[i]
        print("{} : {}".format(string[i],string.count(string[i])))

Enter your name: shahed
s : 1
h : 2
a : 1
e : 1
d : 1

In [0]:
#break and continue keyword
#we use break keyword to break the loop
# example of break
for i in range(1,11):
    if i == 6:
        break
    print("Value of i {}".format(i))
#example of continue
print("\n")
for i in range(1,11):
    if i == 5:
        continue
    print("Value of i {}".format(i))
#here (value of i 5) will not be printed because of continue statement

Value of i 1
Value of i 2
Value of i 3
Value of i 4
Value of i 5


Value of i 1
Value of i 2
Value of i 3
Value of i 4
Value of i 6
Value of i 7
Value of i 8
Value of i 9
Value of i 10

In [0]:
#modifying number gussing game
import random
w_num = random.randint(1,100)
g_num = int(input("Guess a number between 1 and 100:"))
count = 1
while True:
    if w_num == g_num:
        print("you win, and you guessd this number in {} time".format(count))
        break
    elif g_num > w_num:
        print("Too high!!")
    else:
        print("Too low")
    g_num = int(input("Guess again: "))
    count += 1

Guess a number between 1 and 100:59
Too high!!
Guess again: 40
Too high!!
Guess again: 34
Too high!!
Guess again: 22
Too high!!
Guess again: 11
Too low
Guess again: 12
Too low
Guess again: 15
Too low
Guess again: 19
Too low
Guess again: 20
Too low
Guess again: 21
you win, and you guessd this number in 10 time

In [0]:
#solution from video
import random
w_num = random.randint(1,100)
g_num = int(input("Guess a number between 1 and 100:"))
game_over = False
guess = 1
while not game_over:
    if g_num == w_num:
        print(f"you win, and you guessed this number in {guess} times")
        game_over = True
    else:
        if g_num < w_num:
            print("Too low!!")
            guess += 1
            g_num = int(input("Guess again: "))
        else:
            print("Too high!!")
            guess += 1
            g_num = int(input("Guess again: "))

Guess a number between 1 and 100:34
Too low!!
Guess again: 45
Too low!!
Guess again: 60
Too low!!
Guess again: 70
Too low!!
Guess again: 80
Too high!!
Guess again: 75
you win, and you guessed this number in 6 times

In [0]:
#DRY principle
# DRY - don't repeat yourself
import random
w_num = random.randint(1,100)
g_num = int(input("Guess a number between 1 and 100:"))
game_over = False #if game_over false
guess = 1
while not game_over:
    if g_num == w_num:
        print(f"you win, and you guessed this number in {guess} times") #for winners
        game_over = True
    else:
        if g_num < w_num:
            print("Too low!!")
        else:
            print("Too high!!")
        guess += 1
        g_num = int(input("Guess again: ")) #input again

Guess a number between 1 and 100:45
Too high!!
Guess again: 34
Too high!!
Guess again: 22
Too low!!
Guess again: 27
Too low!!
Guess again: 30
you win, and you guessed this number in 5 times

In [0]:
#step in for loop
#syntax of for loop with step argument
#for i in range(start argument, stop argument, step argument)
#example
for i in range(1,11,2):
    print(i)
#now let's work with negative numbers
for i in range(-1,-11,-3):
    print(i)

1
3
5
7
9
-1
-4
-7
-10

In [0]:
#for loop and string
name = "Shahed"
for i in name:
    print(i)
#string is iterable in python

S
h
a
h
e
d

In [0]:
#example of stirng with for loop
string = input("Enter any integer number:")
total = 0
for i in string:
    total += int(i)
print("sum of that integer number is: {}".format(total))

Enter any integer number:1234
sum of that integer number is: 10

In [0]:
#function introduction
#let's start with make summation of two numbers
def add_two(a,b): #here a and b is parameters
    return a + b

total = add_two(1,2) #here 1 and 2 is arguments
print("Sum of two number: {}".format(total))
#this is a basic of funtion

Sum of two number: 3

In [0]:
#let's make another program with python funtion
def add_two(a,b):
    return a + b
def sub_two(a,b):
    return a - b
def mul_two(a,b):
    return a * b
def div_two(a,b):
    return a / b

if __name__ == '__main__':
    x = int(input("Enter an integer number:"))
    y = int(input("Enter an integer number:"))
    sum_total = add_two(x,y)
    sub_total = sub_two(x,y)
    mul_total = mul_two(x,y)
    div_total = div_two(x,y)
    
    print("Summation of two number: {}".format(sum_total))
    print(f"Subtraction of two number: {sub_total}")
    print("Multiplication of two number: {0}".format(mul_total))
    print("Division of two number:",round(div_total,4))

Enter an integer number:23
Enter an integer number:34
Summation of two number: 57
Subtraction of two number: -11
Multiplication of two number: 782
Division of two number: 0.6765

In [0]:
def rev_string(string):
    return string[::-1]

if __name__=='__main__':
    name = input("Enter your name:")
    print("Your name in reverse: {}".format(rev_string(name)))

Enter your name:shahed
Your name in reverse: dehahs

In [0]:
#even odd check with python function
def check_even_odd(num_check):
    if num_check % 2 == 0:
        return "even"
    else:
        return "odd"

if __name__ == '__main__':
    num = int(input("Enter an integer number: "))
    check = check_even_odd(num)
    print("Your number is {}".format(check))

#we can bypass number and string with same parameter in python

Enter an integer number: 23
Your number is odd

In [0]:
def check_even_odd(num_check):
    if num_check % 2 == 0:
        return "even"
    return "odd"

if __name__ == '__main__':
    num = int(input("Enter an integer number: "))
    check = check_even_odd(num)
    print("Your number is {}".format(check))

Enter an integer number: 12
Your number is even

In [0]:
#another two process with bolian value
def is_check(num):
    if num % 2 == 0:
        return True
    else:
        return False

if __name__ == '__main__':
    num = int(input("Enter an integer number:"))
    check = is_check(num)
    print("Your number is {}".format(check))

Enter an integer number:34
Your number is True

In [0]:
#most simple process
def is_check(num): #here num is parameter
    return num % 2 == 0
    
if __name__ == '__main__':
    num = int(input("Enter an integer number:"))
    check = is_check(num) #here num is argument
    print("Your number is {}".format(check))

Enter an integer number:13
Your number is False

In [0]:
#we can return any value without any parameter in python
def name():
    return "Shahed"

if __name__ == '__main__':
    name = name()
    print(f"My name is: {name}")

My name is: Shahed

In [0]:
def find_greater(x,y):
    if x > y:
        return x
    return y

if __name__ == '__main__':
    a = int(input("Enter an integer number: "))
    b = int(input("Enter another integer number: "))
    c = find_greater(a,b)
    print("{} is biggest number".format(c))

Enter an integer number: 34
Enter another integer number: 12
34 is biggest number

In [0]:
def find_greater_number(x,y,z):
    if x > y and x > z:
        return x
    elif y > x and y > z:
        return y
    return z

if __name__ == '__main__':
    a,b,c = map(int, input().split())
    greatest = find_greater_number(a,b,c)
    print(f"The greatest number is: {greatest}")

23 34 12
The greatest number is: 34

In [0]:
#we can call a function inside a function like c language
def find_greatest():
#     c = find_greater_number(23,34,25)
    d = find_greater(find_greater_number(23,34,25),35)
    return d

if __name__ == '__main__':
    x = find_greatest()
    print("Greatest number is: {}".format(x))

Greatest number is: 35

In [0]:
#funtion exercise 2
def is_palindrome(string):
    st = string[::-1]
    if string == st:
        return True
    return False

def is_palindrome(string):
    if string == string[::-1]:
        return True
    return False

def is_palindrome(string):
    return string == string[::-1]


if __name__ == '__main__':
    string = input("Enter a string: ")
    check = is_palindrome(string)
    print("Palindriom is : {}".format(check))

Enter a string: shahs
Palindriom is : True

In [0]:
#new method of printing in the same line
for i in range(1,11):
    print(i, end = " ")
print("\n")
for i in range(1,11):
    print(i, end = ", ")

1 2 3 4 5 6 7 8 9 10

1, 2, 3, 4, 5, 6, 7, 8, 9, 10,

In [0]:
#fibonacchi number printing in python
def fibonacchi_seq(n):
    a , b = 0 , 1
    if n == 1:
        print(a)
    elif n == 2:
        print(a, b)
    else:
        print(a,b, end = " ")
        for i in range(n - 2):
            a, b = b , a + b
            print(b, end = " ")

if __name__ == '__main__':
    fibonacchi_seq(25)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368

In [0]:
# default parameter
#An special value (None)
#we can make default parameter in last parameter only
# without making last parameter as default we can't make any other parameter as default parameter
def My_Info(name,age = None,address = 'Unknown'): #here if we don't make address as default parameter we can't make age 
#     as default parameter
    print("My name is: {}".format(name))
    print("My age is: {}".format(age))
    print("My address is: {}".format(address))

if __name__ == '__main__':
    My_Info("Shahed",24,"Tangail")

My name is: Shahed
My age is: 24
My address is: Tangail

In [0]:
#scope variable
x = 9

def change_value():
    global x
    x = func()
    return x

def func():
    i = int(input())
    return i

if __name__ == '__main__': 
    print("Value of x: {}".format(x))
    z = change_value()
    print("Value of x: {}".format(z))
    print("value of x: {}".format(x))

Value of x: 9
4
Value of x: 4
value of x: 4

In [0]:
#list 
number = [1,2,3,4]
print(number)
words = ["shahed","ashik","azad","rajib"]
print(words)
mixed = [1,2,3,"shahed","ashik",0.56,1.56,None] #None is not as same as 0 value
print(mixed)
print(number[1])
print(words[:2])
print(mixed[-1])
#we can change list element directly
mixed[2] = 'two'
print(mixed)
mixed[1:] = 'two' #if we want to change every element from position [1]
print(mixed)
mixed[1:] = ['three','four']
print(mixed) #if we want to store another element separately

[1, 2, 3, 4]
['shahed', 'ashik', 'azad', 'rajib']
[1, 2, 3, 'shahed', 'ashik', 0.56, 1.56, None]
2
['shahed', 'ashik']
None
[1, 2, 'two', 'shahed', 'ashik', 0.56, 1.56, None]
[1, 't', 'w', 'o']
[1, 'three', 'four']

In [0]:
#adding data to list
name = ['shahed','ashik']
print(name)
name.append('rajib')
print(name)
new_name = [] #a list without any elements
new_name.append('rajib')
new_name.append('ashik')
print(new_name)

['shahed', 'ashik']
['shahed', 'ashik', 'rajib']
['rajib', 'ashik']

In [0]:
#more methods to add data in list
#insert method helps to add element in position in list
name = ['shahed','ashik']
name.insert(1,'rajib')
name.insert(0,'azad')
print(name)
#join or concatenate two list
fruits = ['jackfruit','mango','pineapple']
animals = ['hilsha','magpi','tiger']
new_list = fruits + animals
print(new_list)
fruits.extend(animals) #this will extend two list
print(fruits)
print(animals)
animals.append(fruits) #this will insert a list into another list
print(animals)
for i in range(len(animals)):
    print(animals[i])
#print(animals[3][0]) #to print another elements of another list
for i in range(len(animals)):
    print(animals[3][i])
name.insert(1,fruits)
print(name)

['azad', 'shahed', 'rajib', 'ashik']
['jackfruit', 'mango', 'pineapple', 'hilsha', 'magpi', 'tiger']
['jackfruit', 'mango', 'pineapple', 'hilsha', 'magpi', 'tiger']
['hilsha', 'magpi', 'tiger']
['hilsha', 'magpi', 'tiger', ['jackfruit', 'mango', 'pineapple', 'hilsha', 'magpi', 'tiger']]
hilsha
magpi
tiger
['jackfruit', 'mango', 'pineapple', 'hilsha', 'magpi', 'tiger']
jackfruit
mango
pineapple
hilsha
['azad', ['jackfruit', 'mango', 'pineapple', 'hilsha', 'magpi', 'tiger'], 'shahed', 'rajib', 'ashik']

In [0]:
# removing or deleting elements from list
# pop method
fruits.pop() #if we don't pass any argument this method will delete last element
print(fruits)
fruits.pop(2)#after passing argument this will delete indexed postion element
print(fruits)
#remove method()
#this helps to remove element if we don't know the position of that elemet like
fruits.remove('hilsha')
print(fruits)

['jackfruit', 'mango', 'pineapple', 'hilsha', 'magpi']
['jackfruit', 'mango', 'hilsha', 'magpi']
['jackfruit', 'mango', 'magpi']

In [0]:
another_list = ['shahed','ashik','azad','shahed','ashik','rajib','noman']
another_list.remove('ashik') #if you have two elements with same value this will delete first element
print(another_list)

['shahed', 'azad', 'shahed', 'ashik', 'rajib', 'noman']

In [0]:
#in keyword with list
another_list = ['shahed','ashik','azad','shahed','ashik','rajib','noman']
if 'apple' in fruits:
    print("apple is present")
else:
    print("apple is not present")

apple is not present

In [0]:
#some more list methods
#count
#sort method
#sorted function
#reverse
#clear
#copy
another_list = ['shahed','ashik','azad','shahed','ashik','rajib','noman']
a = another_list.count('shahed') #count method can count how many elements are exist with the same name
print(a)
another_list.sort() #this sort the whole list elements in ascending order or alphabetic order
print(another_list)
num = [12,1,3,5,17,21]
num.sort()
print(num)
#if we want just print the elements in sorted order but don't want to sort the elements
num = [12,1,3,5,17,21]
print(sorted(num)) #this just print your elements in sorted order
print(num)
#clear method is used to delete the whole list
num.clear()
print(num) #thsi delete all elements from a list
num = [12,1,3,5,17,21]
num1 = num.copy()
print(num1)

2
['ashik', 'ashik', 'azad', 'noman', 'rajib', 'shahed', 'shahed']
[1, 3, 5, 12, 17, 21]
[1, 3, 5, 12, 17, 21]
[12, 1, 3, 5, 17, 21]
[]
[12, 1, 3, 5, 17, 21]

In [0]:
#is vs equal in python list comparison
f1 = ['orange','apple','pear']
f2 = ['banana','kiwi','apple','banana']
f3 = ['orange','apple','pear']
print(f1 == f2)
print(f1 == f3)
#normal pratise exercise
another_list = ['shahed','ashik','azad','shahed','ashik','rajib','noman',['rabit','horse','orange']]
a_list = [1,2,3,4,5,[2,5,6]]
count = 0
for i in another_list:
    if type(another_list) is list:
        for j in i:
            print(j)
    else:
        print(i)
#problem still not found

False
True
s
h
a
h
e
d
a
s
h
i
k
a
z
a
d
s
h
a
h
e
d
a
s
h
i
k
r
a
j
i
b
n
o
m
a
n
rabit
horse
orange

In [0]:
another_list = ['shahed','ashik','azad','shahed','ashik','rajib','noman',['rabit','horse','orange']]
another_list = str(another_list)
another_list = another_list.replace("[","").replace("]","").replace("'","")
another_list = another_list.split(",")
print(another_list)
for i in another_list:
    print(i)

['shahed', ' ashik', ' azad', ' shahed', ' ashik', ' rajib', ' noman', ' rabit', ' horse', ' orange']
shahed
 ashik
 azad
 shahed
 ashik
 rajib
 noman
 rabit
 horse
 orange

In [0]:
#split() and join method
name,age = input("Enter your name and age:").split() #split method
#now let's talk about join method
n = int(input("Enter how many elements you want to enter: "))
all_in = []
for i in range(n):
    elem = input("Enter your elements: ")
    all_in.append(elem)
print(name)
print(age)

Enter your name and age:shahed 21
Enter how many elements you want to enter: 3
Enter your elements: shahed
Enter your elements: ashik
Enter your elements: azad
['shahed', 'ashik', 'azad']
shahed
21

In [0]:
new = "\n".join(all_in)
print(new)

shahed
ashik
azad

In [0]:
#list vs array
#we can add only same type of element in array
#we can add different type of element in list
# python have array module to use like c or c++ named numpy
# javascript array = python list /flexible

In [0]:
# difference between list and string
# strings are immutable
# list are mutable
#like
s = "shahed"
s.title()
print(s) #here varible of s is not changing but
s = ["shahed","ashik","azad"]
s.sort() #here we see that the list is in order..means a function named sort is changing
s.append("rajib")
print(s)
#so we can not change in string but we can change in list by calling function

shahed
['ashik', 'azad', 'shahed', 'rajib']

In [0]:
#looping in list
list1 = ["jackfruit","mango","lichi",None,345,56.7,"arabic"]
for i in list1: #using for loop
    print(i)
i = 0
while i < len(list1): #using while loop
    print(list1[i])
    i+=1

jackfruit
mango
lichi
None
345
56.7
arabic
jackfruit
mango
lichi
None
345
56.7
arabic

In [0]:
#join and split
user_info = "shahed, 26".split(",")
print(user_info)

name,age = "shahed, 24".split(",")
print(name)
print(age)

name,age = input("Enter your name and age:").split(" ")
print(name)
print(age)

['shahed', ' 26']
shahed
 24
Enter your name and age:shahed 21
shahed
21

In [0]:
#join method
#convert list to string
user_info = input("Enter your name and age:").split(" ")
print(user_info[0])
print(user_info[1])
print(','.join(user_info))

Enter your name and age:shahed 21
shahed
21
shahed,21

In [0]:
#list inside list
count = 0
matrix = [[1,2,3],[4,5,6],[5,6,9]]
for i in matrix:
  count += 1
  print(i)
print("items are: ",count)
count = 0
for j in matrix:
  for i in j:
    print(i)
    count += 1
print("Items are:",count)
print(matrix[2][0])

[1, 2, 3]
[4, 5, 6]
[5, 6, 9]
items are:  3
1
2
3
4
5
6
5
6
9
Items are: 9
5

In [0]:
#range function
numbers = list(range(1,11))
print(numbers)
popped_item = numbers.pop()
print(numbers)
print(popped_item)
print("Position of 6 is:",numbers.index(6))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
10
Position of 6 is: 5

In [0]:
def negative_list(l1):
  negative = []
  for i in l1:
    negative.append(-i)
  return negative

if __name__ == '__main__':
  num = list(range(1,10))
  print("Negative list: {}".format(negative_list(num)))

Negative list: [-1, -2, -3, -4, -5, -6, -7, -8, -9]

In [0]:
def square_list(l1):
  square = []
  for i in l1:
    square.append(i*i)
  return square

if __name__ == '__main__':
  num = list(range(1,10))
  print(f"Square numbers: {square_list(num)}")

Square numbers: [1, 4, 9, 16, 25, 36, 49, 64, 81]

In [0]:
def reverse_list(list1):
  reverse = []
  for i in range(len(list1)):
    new = list1.pop()
    reverse.append(new)
  return reverse

if __name__ == '__main__':
  numbers = list(range(1,11))
  print(numbers)
  print("Reverse list: {}".format(reverse_list(numbers)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Reverse list: [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [0]:
def reverse_list_elem(list2):
  new_list = []
  for i in list2:
    new_list.append(i[::-1])
  return new_list


if __name__ == '__main__':
  elements = ['abc','def','ghi']
  print("Reversed Elements list is: {}".format(reverse_list_elem(elements)))

Reversed Elements list is: ['cba', 'fed', 'ihg']

In [0]:

def seperate_list(list1):
  even = []
  odd = []
  new_list = []
  for i in list1:
    if i % 2 == 0:
      even.append(i)
    else:
      odd.append(i)
  new_list = [odd,even]
  return new_list

if __name__ == '__main__':
  num = list(range(1,11))
  print("Even Odd list is: {} ".format(seperate_list(num)))

Even Odd list is: [[1, 3, 5, 7, 9], [2, 4, 6, 8, 10]]

In [0]:
def common_list(list1,list2):
  new_list = []
  for i in list1:
    for j in list2:
      if i == j:
        new_list.append(i)
  return new_list

if __name__ == '__main__':
  l1 = [1,2,6,7]
  l2 = [1,6,3,9]
  print("Common list: {}".format(common_list(l1,l2)))

Common list: [1, 6]

In [0]:
def common_list(list1,list2):
  new_list = []
  for i in list1:
    if i in list2:
      new_list.append(i)
  return new_list

if __name__ == '__main__':
  l1 = [1,2,6,7]
  l2 = [1,6,3,9]
  print("Common list: {}".format(common_list(l1,l2)))

Common list: [1, 6]

In [0]:
#min and max function in list
def differ(list1):
  return max(list1) - min(list1)

if __name__ == '__main__':
  numbers = [23,11,4,56,45]
  print("Difference is: {}".format(differ(numbers)))
  print(min(numbers))
  print(max(numbers))

Difference is: 52
4
56

In [0]:
def list_count(list1):
  count = 0
  for i in list1:
    if type(i) == list:
      count += 1
  return count

if __name__ == '__main__':
  list1 = [1,2,5,[4,5,6],[5,8,7]]
  print("Total list element: {}".format(list_count(list1)))

Total list element: 2

In [0]:
list1 = [1,2,3]
list1.append("Shahed")
list1.append([1,5,6])
list1.extend([6,4,9])
list2 = [2,9,5]
print(list1)
print(list1 + list2)

[1, 2, 3, 'Shahed', [1, 5, 6], 6, 4, 9]
[1, 2, 3, 'Shahed', [1, 5, 6], 6, 4, 9, 2, 9, 5]

In [0]:
#tuples intro
#we can't insert,update,or delete any kind of element from tuple
#we can only find the index number of elemnet
#we can slice tuple elements
#we can count the number of elements



example  = ("one","two","three")
days  = ("sunday","monday")
print(example,days)
print("Type of exmple is {}".format(type(example)))

#tuple with one element
nums = (1) # is not a tuple...this will show use that this is just an integer value
print(type(nums))
nums = (1,) #now this is a tuple
print(type(nums))

#tuple without parathesis

guiters = "shahed", "ashik","azad"
print(type(guiters))

#tuple unpacking
x,y,z = (guiters)
print(x)
print(y)
print(z)

#tuple with list
new_elem = ("new1","new2",["new3","new4"])
new_elem[2].pop()
print(new_elem)
new_elem[2].append("shahed")
print(new_elem)

('one', 'two', 'three') ('sunday', 'monday')
Type of exmple is <class 'tuple'>
<class 'int'>
<class 'tuple'>
<class 'tuple'>
shahed
ashik
azad
('new1', 'new2', ['new3'])
('new1', 'new2', ['new3', 'shahed'])

In [0]:
#when a funtion return two values it returns a tuple object from funtion

def sum_mul(i1,i2):
  add = i1 + i2
  mul = i1 * i2
  return add,mul

if __name__ == '__main__':
  print(type(sum_mul(2,3)))
  print(sum_mul(5,4))
  #as it is returning a tuple we can assign with two different variable
  x,y = sum_mul(6,7)
  print(x,y)

<class 'tuple'>
(9, 20)
13 42

In [0]:
tp1 = tuple(range(1,11))
print(len(tp1))
print(min(tp1))
print(max(tp1))
print(sum(tp1))

10
1
10
55

In [0]:
#what is dictionary
#an unorderd collection of data in key : value pair

user = {'name' : 'shahed', 'age' : 24}
print(user)

user = dict(name = 'Shahed', age = 24)
print(user)

print(user['name'],user['age'])

{'name': 'shahed', 'age': 24}
{'name': 'Shahed', 'age': 24}
Shahed 24

In [0]:
user_info = dict(
    user_name = 'shahed',
    email = 'shahedtalukder51@gmail.com',
    age = 21,
    address = 'East Adalotpara,Tangail',
    fav_movie = ['end_game','infinity war','dark web']
)


print(user_info)

{'user_name': 'shahed', 'email': 'shahedtalukder51@gmail.com', 'age': 21, 'address': 'East Adalotpara,Tangail', 'fav_movie': ['end_game', 'infinity war', 'dark web']}

In [0]:
user_info = dict(
    user1 = dict(
        user_name = "shahed",
        age = 21,
        password = 'asdfasdf'
    ),
    user2 = dict(
        user_name = "ashik",
        age = 22,
        password = 'asfdasdf'
    ),
    user3 = dict(
        user_name = 'azad',
        age = 23,
        password = 'asdfasdf'
    )
)

print(user_info)

{'user1': {'user_name': 'shahed', 'age': 21, 'password': 'asdfasdf'}, 'user2': {'user_name': 'ashik', 'age': 22, 'password': 'asfdasdf'}, 'user3': {'user_name': 'azad', 'age': 23, 'password': 'asdfasdf'}}

In [0]:
user_info = {}
name = input("Enter your name:")
age = input("Enter your age:")
password = input("Enter your password:")
count = 1
string = 'user'
user_name = string + str(count)
user_info = {
    user_name : {
        'name' : name,
        'age' : age,
        'password' : password
    }
}
print(user_info)

#lets make it deep
#mr google..

Enter your name:shahed
Enter your age:21
Enter your password:pass
{'user1': {'name': 'shahed', 'age': '21', 'password': 'pass'}}

In [0]:
user_info = {}
new_user = {}
num = int(input("Enter how many times you want to enter your information:"))
count = 1
string = 'user'
for i in range(num):
  fname = input("Enter your First name:")
  lname = input("Enter your Last name:")
  age = input("Enter your age:")
  address = input("Enter your address:")
  user_number = string+str(count)
  user_info = {
    user_number : {
        'fname' : fname,
        'lname' : lname,
        'age' : age,
        'address' : address
    }
  }
  print("Inserted successfully")
  new_user.update(user_info)
  count+=1
print(new_user)

Enter how many times you want to enter your information:2
Enter your First name:shahed
Enter your Last name:talukder
Enter your age:21
Enter your address:khagan
Inserted successfully
Enter your First name:ashik
Enter your Last name:mia
Enter your age:21
Enter your address:tangail
Inserted successfully
{'user1': {'fname': 'shahed', 'lname': 'talukder', 'age': '21', 'address': 'khagan'}, 'user2': {'fname': 'ashik', 'lname': 'mia', 'age': '21', 'address': 'tangail'}}

In [0]:
# in keyword in dictionary and iterations in dictionary

user_info = dict(
    name = 'shahed',
    age = 24,
    fav_movies = ['end_game','infinite war','hellowen'],
    fev_tunes = ['hello','faded','on my way']
)


#check if key exist in dictionary
if 'name' in user_info:
  print("Key present")
else:
  print('Not present')
  
#check if value exist in dictionary

Key present

In [0]:
#add update and pop
user_info = dict(
    name = 'shahed',
    age = 24,
    fav_movies = ['end_game','infinite war','hellowen'],
    fev_tunes = ['hello','faded','on my way']
)
popped_item = user_info.pop('fev_tunes')
print(f"Popped item is {popped_item}")
print(type(popped_item))
user_info['address'] = 'khagan bazar'
print(user_info)
popped_item = user_info.popitem()
print(popped_item)
print(type(popped_item))

Popped item is ['hello', 'faded', 'on my way']
<class 'list'>
{'name': 'shahed', 'age': 24, 'fav_movies': ['end_game', 'infinite war', 'hellowen'], 'address': 'khagan bazar'}
('address', 'khagan bazar')
<class 'tuple'>

In [0]:
#updating key and element
user_info = dict(
    name = 'shahed',
    age = 24,
    fav_movies = ['end_game','infinite war','hellowen'],
    fev_tunes = ['hello','faded','on my way']
)

more_info = dict(
    state = 'Dhaka',
    hobbies = ['singing','dancing']
)

user_info.update(more_info)
print(user_info)

{'name': 'shahed', 'age': 24, 'fav_movies': ['end_game', 'infinite war', 'hellowen'], 'fev_tunes': ['hello', 'faded', 'on my way'], 'state': 'Dhaka', 'hobbies': ['singing', 'dancing']}

In [0]:
#method fromkeys to create dictionary

d = dict(
    name = 'Unknown',
    age = 'Unknown'
)

d = dict.fromkeys(['name','age','height'],'unknown')
print(d)
d = dict.fromkeys(range(1,11),'9')
print(d)

{'name': 'unknown', 'age': 'unknown', 'height': 'unknown'}
{1: '9', 2: '9', 3: '9', 4: '9', 5: '9', 6: '9', 7: '9', 8: '9', 9: '9', 10: '9'}

In [0]:
#get method
user_info = dict(
    name = 'shahed',
    age = 24,
    fav_movies = ['end_game','infinite war','hellowen'],
    fev_tunes = ['hello','faded','on my way']
)

print(user_info.get('name')) #better
user_info.clear()
print(user_info)

user_info = d.copy()
print(user_info)

shahed
{}
{1: '9', 2: '9', 3: '9', 4: '9', 5: '9', 6: '9', 7: '9', 8: '9', 9: '9', 10: '9'}

In [2]:
user = dict(
    name = 'shahed',
    age = 24
)

print(user.get('name','not a key!'))

shahed

In [0]:
user = {
    'name' : 'shahed',
    'age' : 24,
    'age' : 34
}

print(user)

{'name': 'shahed', 'age': 34}

In [0]:
#cube finder
def cube_finder(num):
  cube = {}
  for i in range(1,num+1):
    cube[i] = i**3
  return cube


if __name__ == '__main__':
  num = int(input("Enter an integer number:"))
  print("Dictionary is:")
  print(cube_finder(num))

Enter an integer number:21
Dictionary is:
{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000, 11: 1331, 12: 1728, 13: 2197, 14: 2744, 15: 3375, 16: 4096, 17: 4913, 18: 5832, 19: 6859, 20: 8000, 21: 9261}

In [0]:
def word_counter(string):
  word = {}
  for i in string:
    word[i] = string.count(i)
  return word

if __name__  == '__main__':
  name = input("Enter your name:")
  print(word_counter(name))

Enter your name:shahed
{'s': 1, 'h': 2, 'a': 1, 'e': 1, 'd': 1}

In [0]:
def word_counter(string):
  word = {}
  for i in string:
    word[i] = string.count(i)
  return word

if __name__  == '__main__':
  name = input("Enter your name:")
  dictionary = word_counter(name)
  for i,j in dictionary.items():
    print("{} : {}".format(i,j))
  #printing keys
  for i in dictionary:
    print(i)

Enter your name:shahed
s : 1
h : 2
a : 1
e : 1
d : 1
s
h
a
e
d

In [0]:
#set
list1 = [1,2,3,4,5,6,7,2,4,1,4,6,7,5,0]
print(list1)
s = set(list1)
print(s)
sl = list(s)
print(sl)
s.add(10)
print(s)
s.remove(4)
print(s)
s.discard(11)
print(s)

[1, 2, 3, 4, 5, 6, 7, 2, 4, 1, 4, 6, 7, 5, 0]
{0, 1, 2, 3, 4, 5, 6, 7}
[0, 1, 2, 3, 4, 5, 6, 7]
{0, 1, 2, 3, 4, 5, 6, 7, 10}
{0, 1, 2, 3, 5, 6, 7, 10}
{0, 1, 2, 3, 5, 6, 7, 10}

In [0]:
set1 = {1,3,5,6,7}
set2 = {3,2,9,7}
union_set = set1 | set2
intersection_set = set1 & set2
print(union_set)
print(intersection_set)

{1, 2, 3, 5, 6, 7, 9}
{3, 7}

In [0]:
#list comprehension

#create a list of squares from 1 to 10
square = [i**2 for i in range(1,11)]
print(square)

#negative number list with list comprehension
negative = [-i for i in range(1,11)]
print(negative)

# even number list using list comprehension
even = [i for i in range(1,11) if i % 2 == 0]
#odd number list using list comprehension
odd = [i for i in range(1,11) if i % 2 != 0]

print(even)
print(odd)
#first letter using list comprehension
name = ['shahed','ashik','rajib','koli']
first_letter = [i[0] for i in name]
print(first_letter)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[-1, -2, -3, -4, -5, -6, -7, -8, -9, -10]
[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]
['s', 'a', 'r', 'k']

In [0]:
#without function
list1 = ['abc','def','ghi']
new = [i[::-1] for i in list1]
print(new)

['cba', 'fed', 'ihg']

In [0]:
#with funtion
# def reverse_list(list1):
#   new = [i[::-1] for i in list1]
#   return new

def reverse_list(list2):
  return [i[::-1] for i in list2]

if __name__ == '__main__':
  l1 = ['abc','def','ghi','jkl']
  print("Reversed List elements are:")
  print(reverse_list(l1))

Reversed List elements are:
['cba', 'fed', 'ihg', 'lkj']

In [0]:
def finder(list1):
  l2 = [i for i in l1 if type(i) == int or type(i) == float]
  return l2

if __name__ =='__main__':
  l1 = [True,False,1,2.0,5,1.0,'shahed']
  print(finder(l1))

[1, 2.0, 5, 1.0]

In [0]:
#without list comprehension
def differ(list1):
  new_list = []
  for i in list1:
    if i % 2 == 0:
      new_list.append(i*2)
    else:
      new_list.append(-i)
  return new_list

if __name__ == '__main__':
  list1 = list(range(1,11))
  print(differ(list1))

[-1, 4, -3, 8, -5, 12, -7, 16, -9, 20]

In [0]:
#with list comprehension
def differ(list1):
  new_list = [i*2 if i % 2 == 0 else -i for i in list1]
  return new_list

if __name__ == '__main__':
  list2 = list(range(1,11))
  print(differ(list2))

[-1, 4, -3, 8, -5, 12, -7, 16, -9, 20]

In [0]:
# nested list with list comprehension
nested_comp = [[i for i in range(1,4)] for j in range(3)]
print(nested_comp)

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [0]:
#list comprehension
new_list = [list(range(n*3+1,n*3+3+1)) for n in range(3)]
print(new_list)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [0]:
# dictionary comprehension
square = {num : num **2 for num in range(1,11)}
print(square)
for i,j in square.items():
  print("Square of {} is {}".format(i,j))

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}
Square of 1 is 1
Square of 2 is 4
Square of 3 is 9
Square of 4 is 16
Square of 5 is 25
Square of 6 is 36
Square of 7 is 49
Square of 8 is 64
Square of 9 is 81
Square of 10 is 100

In [0]:
name = "Shahed Talukder"
word_count = {cnt : name.count(cnt) for cnt in name}
for i,j in word_count.items():
  print("{} : {}".format(i,j))

S : 1
h : 2
a : 2
e : 2
d : 2
  : 1
T : 1
l : 1
u : 1
k : 1
r : 1

In [0]:
# without dictionary comprehension
dictionary = {}
for i in range(1,11):
  if i % 2 == 0:
    dictionary[i] = "even"
  else:
    dictionary[i] = "odd"
for i,j in dictionary.items():
  print("{} : {}".format(i,j))

1 : odd
2 : even
3 : odd
4 : even
5 : odd
6 : even
7 : odd
8 : even
9 : odd
10 : even

In [0]:
#with dictionary comprehension
dictionary = {i : "even" if i % 2 == 0 else "odd" for i in range(1,11)}
print(dictionary)
for i,j in dictionary.items():
  print("{} : {}".format(i,j))

{1: 'odd', 2: 'even', 3: 'odd', 4: 'even', 5: 'odd', 6: 'even', 7: 'odd', 8: 'even', 9: 'odd', 10: 'even'}
1 : odd
2 : even
3 : odd
4 : even
5 : odd
6 : even
7 : odd
8 : even
9 : odd
10 : even

In [0]:
set1 = {i**2  for i in range(1,11)}
print(set1)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [0]:
names= ['shahed','ashik','rajib','nobel','emon','galib']
set2 = {i[0] for i in names}
print(set2)

{'a', 'n', 'e', 'g', 's', 'r'}

In [0]:
# intro to arguments means (args*)
# make flexible function
# *operator
# *args

def all_elem(*args):
  print(args)
  print(type(args))
  
def all_sum(*args):
  total = 0
  for i in args:
    total += i
  return total

if __name__ == '__main__':
  all_elem(2,3,4,5)
  print(all_sum(2,5,6,7,8,9))

(2, 3, 4, 5)
<class 'tuple'>
37

In [0]:
#we can't write parameter after *arg
def sum_multy(a,b,*args):
  total = 1
  for i in args:
    total *= i
  return total+a+b

if __name__ == '__main__':
  count = sum_multy(27,8,4,5,6,7,8)
  print(count)

6755

In [0]:
# *args with list
def multiply_nums(*args):
  mul = 1
  for i in args:
    mul *= i
  return mul

if __name__ == '__main__':
  num2 = [2,3,4]
  print(type(multiply_nums(2,5,4)))
  print(type(multiply_nums(*num2)))
  print(multiply_nums(2,3,4))
  print(multiply_nums(*num2))

<class 'int'>
<class 'int'>
24
24

In [0]:
#without list comprehension
def power_set(num,*args):
  new_list = []
  for i in args:
    new_list.append(i**num)
  return new_list

if __name__ == '__main__':
  set = [1,2,3,4,5]
  print(power_set(2,*set))

[1, 4, 9, 16, 25]

In [0]:
#with list comprehension
def power_set(num,*args):
  if len(args) < 1:
    return "Hey you didn't pass args"
  return [i**num for i in args]

if __name__ == '__main__':
  list1 = [2,5,4,3]
  print(power_set(3,*list1))

[8, 125, 64, 27]

In [0]:
#anther way
def power_set(n, *args):
  if args:
    return [i**n for i in args]
  return "Hey you didn't pass args"

if __name__ == '__main__':
  l1 = [2,3,4,6]
  print(power_set(2,*l1))

[4, 9, 16, 36]

In [0]:
#**kwargs implementation

def func(**kwargs):
  for i,j in kwargs.items():
    print("{} : {}".format(i,j))
  
if __name__ == '__main__':
  func(name = "shahed",age = "21")

name : shahed
age : 21

In [0]:
#another
def func(n,**kwargs):
  for i,j in kwargs.items():
    print("{} : {}".format(i,j))
  print(n)
    
if __name__ == '__main__':
  func("Hello",name = "Shahed",age = "21")

name : Shahed
age : 21
Hello

In [0]:
#dictionary unpacking
def dict_unpacking(**kwargs):
  for i,j in kwargs.items():
    print("{} : {}".format(i,j))
if __name__ == '__main__':
  new_dict = dict(
      name = "Shahed",
      age = "21",
      address = "khagan"
  )
  print(new_dict)
  dict_unpacking(**new_dict)

{'name': 'Shahed', 'age': '21', 'address': 'khagan'}
name : Shahed
age : 21
address : khagan

In [0]:
#default param
def func(name = 'unknown',age = 24):
  print(name)
  print(age)
  
func()
func("shahed")
func("shahed",22)

unknown
24
shahed
24
shahed
22

In [0]:
#using all parameter type
#we have to maintain parameter serial
#normal parameter
#args param
#default param
#kwargs
def cont(name,*args,last_name = 'unknown',**kwargs):
  print(name)
  print(args)
  print(last_name)
  print(kwargs)
  
if __name__ == '__main__':
  cont("shahed",2,3,4,"talukder",age = 23,address = 'khagan')

shahed
(2, 3, 4, 'talukder')
unknown
{'age': 23, 'address': 'khagan'}

In [0]:
def capital_str(l1,**kwargs):
  if kwargs.get('reverse_str') == True:
    return [name[::-1].title() for name in l1]
  else:
    return [name.title() for name in l1]
if __name__ == '__main__':
  list1 = ['shahed','ashik']
  print(capital_str(list1))
  print(capital_str(list1, reverse_str = True))

['Shahed', 'Ashik']
['Dehahs', 'Kihsa']

In [0]:
# def add(a,b):
#   return a + b

add = lambda a, b : a + b
print(add(23,45))

#we use lambda expression in some build in functions
#like
#map, reduce,  filter etc

multiply = lambda a,b : a * b
print(multiply(1,2))

68
2

In [0]:
new = lambda a : a % 2 == 0
print("Summation is :{}".format(new(12)))

last_char = lambda string : string[-1]
print(last_char("shahed"))

rev_str = lambda string : string[::-1]
print(rev_str('shahed'))

length = lambda string : len(string) < 5
print("length of the string {}".format(length("shahed talukder")))

length = lambda string : "Greatest" if len(string) > 5 else "Smallest"
print(length("Shhaed Talukder"))

Summation is :True
d
dehahs
length of the string False
Greatest

In [0]:
new_list = []
for i in range(3):
    new_list.append(i+1)
    new_list.append([i for i in range(i*3+1,i*3+3+1)])
    
print(new_list)

[1, [1, 2, 3], 2, [4, 5, 6], 3, [7, 8, 9]]

In [0]:
#palindrom checker with lambda expression
palindrom_check = lambda string : string  == string[::-1]

name = input("Enter your name:")
print(palindrom_check(name))

In [0]:
names = ['shahed','ashik','azad']
for i,j in enumerate(names):
  print("{} -- {}".format(i,j))

0 -- shahed
1 -- ashik
2 -- azad

In [0]:
# def square(a):
#   return a**2
#one method without including it into map

square = lambda a : a**2

numbers = [1,2,3,4]
print(map(square, numbers))

square = list(map(square, numbers))
print(square)

<map object at 0x7f72ad5e4668>
[1, 4, 9, 16]

In [0]:
#lambda inside map object
square = list(map(lambda a: a**2, numbers))
print(square)

[1, 4, 9, 16]

In [0]:
def square(a):
  return a**2

new_num = []
for i in numbers:
  new_num.append(square(i))
  
print(new_num)

[1, 4, 9, 16]

In [0]:
names = ['shahed','ashik','azad','thankyou']

#process 1
length = list(map(lambda string : len(string), names))
print(length)

#process 2
def length(string):
  return len(string)

num = []
for i in names:
  num.append(length(i))
print(num)

#process 3
num = [len(i) for i in names]
print(num)

#process 4
length = list(map(len, names))
print(length)

[6, 5, 4, 8]
[6, 5, 4, 8]
[6, 5, 4, 8]
[6, 5, 4, 8]

In [0]:
numbers = [3,4,5,1,2,6,7,6,8]
#filter function
#process 1
def is_even(a):
  return a%2 == 0

def is_odd(a):
  return a%2 != 0

evens = list(filter(is_even, numbers))
odds = list(filter(is_odd, numbers))
print(evens,odds)

#process 2
evens = list(filter(lambda a: a%2 == 0, numbers))
odds = list(filter(lambda a: a%2 != 0, numbers))
print(evens,odds)

#process 3
evens = [i for i in numbers if i % 2 == 0]
odds = [i for i in numbers if i % 2 != 0]
print(evens,odds)

[4, 2, 6, 6, 8] [3, 5, 1, 7]
[4, 2, 6, 6, 8] [3, 5, 1, 7]
[4, 2, 6, 6, 8] [3, 5, 1, 7]

In [4]:
# iterator vs iterables

numbers = [1,2,3,4] #iterables
squares = map(lambda a: a**2, numbers) #iterator
print(squares)
# for iterables
# print(next(numbers)) //list object is not an iterator..
new = iter(numbers)
print(iter(numbers))
print(next(new))
print(next(new))
print(next(new))
print("\n")
#for iterators
print(next(squares))
print(next(squares))
print(next(squares))
print(next(squares))

<map object at 0x000002A6298FC470>
<list_iterator object at 0x000002A6298FCAC8>
1
2
3


1
4
9
16

In [0]:
#zip function
user_id = ['user1','user2','user3']
names = ['shahed','siam','ashik']
age = [21,23,24]

print(zip(user_id,names))
details = zip(user_id,names,age)
print(next(details))
for i in details:
  print(i)
  

# directly converting to dictionary
fall = [('a',1),('b',2),('c',3)]
print(fall)
print(dict(fall))

<zip object at 0x7f1d365a51c8>
('user1', 'shahed', 21)
('user2', 'siam', 23)
('user3', 'ashik', 24)
[('a', 1), ('b', 2), ('c', 3)]
{'a': 1, 'b': 2, 'c': 3}

In [0]:
#zip products packing
l1 = [1,2,3,4]
l2 = [2,4,5,6]

new_zip = list(zip(l1,l2))
print(new_zip)

#unpacking
l1,l2 = list(zip(*new_zip))
print(l1,l2)

[(1, 2), (2, 4), (3, 5), (4, 6)]
(1, 2, 3, 4) (2, 4, 5, 6)

In [0]:
l1 = [1,2,3,4]
l2 = [2,4,5,6]
new_list = []
for pair in zip(l1,l2):
  new_list.append(max(pair))
  
print(new_list)

hell = [max(pair) for pair in zip(l1,l2)]
print(hell)

[2, 4, 5, 6]
[2, 4, 5, 6]

In [0]:
def average(list1,list2,list3,list4):
  average = []
  for i in zip(list1,list2,list3,list4):
    average.append(sum(i)/len(i))
  return average

if __name__ == '__main__':
  l1 = [1,2,3,4]
  l2 = [2,3,4,7]
  l3 = [max(pair) for pair in zip(l1,l2)]
  l4 = [2,3,4,9]
  for i in average(l1,l2,l3,l4):
    print(round(i, 3))

1.75
2.75
3.75
6.75

In [0]:
def average(list1,list2,list3,list4):
  return [sum(i)/len(i) for i in zip(list1,list2,list3,list4)]

if __name__ == '__main__':
  l1 = [1,2,3,4]
  l2 = [2,3,4,7]
  l3 = [max(pair) for pair in zip(l1,l2)]
  l4 = [2,3,4,9]
  for i in average(l1,l2,l3,l4):
    print(round(i, 3))

1.75
2.75
3.75
6.75

In [0]:
def average(*args):
  return [sum(i)/len(i) for i in zip(*args)]

if __name__ == '__main__':
  l1 = [1,2,3,4]
  l2 = [2,3,4,7]
  l3 = [max(pair) for pair in zip(l1,l2)]
  l4 = [2,3,4,9]
  for i in average(l1,l2,l3,l4):
    print(round(i, 3))

1.75
2.75
3.75
6.75

In [0]:
l1 = [1,2,3,4]
l2 = [2,3,4,7]
l3 = [max(pair) for pair in zip(l1,l2)]
l4 = [2,3,4,9]
hell = lambda *args : [sum(i)/len(i) for i in zip(*args)]
print(hell(l1,l2,l3,l4))
for i in hell(l1,l2,l3,l4):
  print(i)

[1.75, 2.75, 3.75, 6.75]
1.75
2.75
3.75
6.75

In [0]:
def first_div(string):
    new_string = [] 
    make = []
    count1  = 0
    count2 = 0
    for i in range(len(string)):
        if string[i] == string[i].upper(): #this line of code will find the upper case letter
            count2 = i
            new_string = [string[j] for j in range(count1,count2)] #this will devide string like this exp: shahed to [s,h,a,h,e,d]
            make.append(''.join(new_string)) #this portion of code will make them like this [s,h,a,h,e,d] to shahed
            count1 = count2
    return make

def second_dev(list1,string):
    new_string = []
    make = []
    new_list = ''.join(list1) #this is the same concept like before
    for i in range(len(string)):
        new_string = [string[i] for i in range(len(new_list),len(string))] #this will also make the same like this
        make = ''.join(new_string) #same
    return make

        
if __name__ == '__main__':
    string = input("Enter a string:") #getting string input
    hello = first_div(string)
    for i in hello:
        print(i)
    print(second_dev(hello,string))

Enter a string:ShahedAshikAzadRazibAtikKonikShanto

Shahed
Ashik
Azad
Razib
Atik
Konik
Shanto

In [2]:
class Phone:
    def __init__(self):
        pass
    def __init__(self, name = None, age = 0):
        self.name = name
        self.age = age
    
    def full_info(self):
        return f"{self.name} {self.age}"

In [5]:
p1 = Phone()
p1.name = "Shahed"
p1.age = 21
print(p1.full_info())
print(p1.__dict__)

Shahed 21
{'name': 'Shahed', 'age': 21}

In [ ]:
# Bunny Prisoner Locating
# =======================

# Keeping track of Commander Lambda's many bunny prisoners is starting to get tricky. You've been tasked with writing a program to match bunny prisoner IDs to cell locations.

# The LAMBCHOP doomsday device takes up much of the interior of Commander Lambda's space station, and as a result the prison blocks have an unusual layout. They are stacked in a triangular shape, and the bunny prisoners are given numerical IDs starting from the corner, as follows:

# | 7
# | 4 8
# | 2 5 9
# | 1 3 6 10

# Each cell can be represented as points (x, y), with x being the distance from the vertical wall, and y being the height from the ground. 

# For example, the bunny prisoner at (1, 1) has ID 1, the bunny prisoner at (3, 2) has ID 9, and the bunny prisoner at (2,3) has ID 8. This pattern of numbering continues indefinitely (Commander Lambda has been taking a LOT of prisoners). 

# Write a function solution(x, y) which returns the prisoner ID of the bunny at location (x, y). Each value of x and y will be at least 1 and no greater than 100,000. Since the prisoner ID can be very large, return your solution as a string representation of the number.

# Languages
# =========

# To provide a Java solution, edit Solution.java
# To provide a Python solution, edit solution.py

# Test cases
# ==========
# Your code should pass the following test cases.
# Note that it may also be run against hidden test cases not shown here.

# -- Java cases --
# Input:
# Solution.solution(3, 2)
# Output:
#     9

# Input:
# Solution.solution(5, 10)
# Output:
#     96

# -- Python cases --
# Input:
# solution.solution(5, 10)
# Output:
#     96

# Input:
# solution.solution(3, 2)
# Output:
#     9

def solve(x,y):
    sol = ((x+y-1) * (x+y-2)) / 2 + x
    return sol

solve(5,10)

In [ ]:
def decimal2Binary(n,b):
    #converting decimal number to base number
    dt = []
    while n > 0:
        dt.insert(0, str(n % b))
        n = n / b
    return ''.join(dt)

def binary2decimal(n,b):
    #converting binary value to decimal number
    x = 0
    for i in str(n):
        x = b * x + int(i)
    return x
    
def subtraction(x,y,b):
    if b == 10:
        return int(x) - int(y)
    
    m = binary2decimal(x,b)
    n = binary2decimal(y,b)
    o = m - n
    return decimal2Binary(o, b)


def solution(n, b):
    #Your code here
    arr = []
    while True:
        x = ''.join(sorted(str(n), reverse=True))
        y = ''.join(sorted(str(n)))
        z = subtraction(x,y,b)
        
        l1 = len(str(z))
        l2 = len(str(x))
        
        if (l1) != l2:
            z = z * pow(10, (l2-l1))
        
        for i,j in enumerate(arr):
            if j == z:
                return i + 1
                break
        arr = [z] + arr
        n = z

In [ ]:
print('210022', 3)

In [ ]:
# doomsday fuel